.row {
  width: 100%;
  display: block;
}
.column {
  margin-top: 1%;
  width: 50%;
  float: left;
}

.description_input {
  width: 48%;
  height: 30px;
  font-size: 1.3em;
  display: inline;
  margin-left: 10px;
  background-color: #d0edf7;
}

body {
  background-color: #002b41;
}
